

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
}
body{
    height: 100vh;
    background:url(../asset/bg-image/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 520px;
    height: 100%;
    background-color: white;
    padding: 20px;
}
.Header{
    display: flex;
    margin-right: 300px;

}
.star{
    margin-right: 30px;
}
.questions{
    font-size: 1rem;
    font-weight: 700;
    padding:  20px 0;
}
.question-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answers,
.questions:hover{
    color: hsl(292, 85%, 56%);
}


@media (max-width:840px) {
    body{
        background-image: url(../asset/bg-image/background-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-size:  500px 400px;
        
    }

    .container{
        width: 350px;
        margin: 200px 50px;
        
    }
}